body {
  font-family: monospace;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

.world {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.world > div {
  width: 30px;
  height: 30px;
}

.alive {
  color: green;
}

.dead {
  color: red;
}
